@import '../Variables.scss';

.filter__container--fixed {
  // position: fixed;
}

.filter__container {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
}
.filter__title {
  color: $color-blue-5;
}

.filter__subtitle {
  color: $color-blue-4;
}
.filter__checkbox {
}

.widget {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}
